<a href="https://colab.research.google.com/github/AndyMG1999/GroupProject/blob/master/Assignment_3_Andy_Gonzalez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/grismely/CSC448-AI/blob/main/Assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Imports section
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import BayesianRidge
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures as poly
from sklearn.model_selection import ShuffleSplit

## Part 1. Loading the dataset

In [3]:
# Using pandas load the dataset (load remotely, not locally)
dataSet = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")

# Output the first 15 rows of the data
dataSet.head(15)

    Temperature °C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [4]:
# Display a summary of the table information (number of datapoints, etc.)
dataSet.info()
dataSet.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature °C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

       Temperature °C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

## Part 2. Splitting the dataset

In [5]:
# Take the pandas dataset and split it into our features (X) and label (y)
features = dataSet[["Temperature °C","Mols KCL"]]
label = dataSet[["Size nm^3"]]
x, y = features, label

# Use sklearn to split the features and labels into a training/test set. (90% train, 10% test)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.10)
x_train, x_test, y_train, y_test

(     Temperature °C  Mols KCL
 858             207       550
 694             676       801
 896             161       622
 63              580       817
 831              19        67
 ..              ...       ...
 715             576       970
 254             729       210
 168              37       157
 383             123       882
 989             119       510

 [900 rows x 2 columns],      Temperature °C  Mols KCL
 784             798       609
 312             760       622
 796             838       676
 333             384       168
 245             478       511
 ..              ...       ...
 597             470       350
 852             342       643
 949              15        47
 974             730        72
 786             146       910

 [100 rows x 2 columns],         Size nm^3
 858  2.388269e+05
 694  1.109395e+06
 896  2.132698e+05
 63   9.737511e+05
 831  2.902257e+03
 ..            ...
 715  1.151235e+06
 254  3.161880e+05
 168  1.276626e+04
 383  2.406744e+05
 989  1.302394e+05

 [900 rows x 1 columns],         Size nm^3
 784  9.921366e+05
 312  9.656138e+05
 796  1.156088e+06
 333  1.344384e+05
 245  5.017126e+05
 ..            ...
 597  3.381400e+05
 852  4.557288e+05
 949  1.653114e+03
 974  1.140281e+05
 786  2.911320e+05

 [100 rows x 1 columns])

## Part 3. Perform a Linear Regression

In [6]:
# Use sklearn to train a model on the training set
lin_reg = LinearRegression()
lin_reg.fit(x_train,y_train)

# Create a sample datapoint and predict the output of that sample with the trained model
Prediction = lin_reg.predict(np.array([[469,647]]))
print("Prediction: ", Prediction)

# Report on the score for that model, in your own words (markdown, not code) explain what the score means
print("Score: ", lin_reg.score(x_test,y_test))

Prediction:  [[665131.53306854]]
Score:  0.8207466917159134

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

This score allows us to assess how accurate the data is, and where our data compares to to best regression.

Sample equation: $E = mc^2$

In [7]:
# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX
print("Coeficients: ",lin_reg.coef_)
print("Intercept: ",lin_reg.intercept_)

Coeficients:  [[ 882.08514161 1039.9029539 ]]
Intercept:  [-421383.60952049]

\[y = 876.18439002x_1 + 1029.04320478x_2 - 413836.9072213\]

## Part 4. Use Cross Validation

In [13]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data
cvs = ShuffleSplit(n_splits = 10, test_size = 0.1, random_state = 0)
scores = cross_val_score(lin_reg, x, y, cv = cvs)
print(scores)

# Report on their finding and their significance

[0.87616468 0.86951566 0.83708494 0.86963943 0.84945355 0.86236913
 0.82467112 0.85236386 0.8648058  0.76555589]

These score are used assessment of our data. Repeating the experiment 10 times we see that the scores are around the 80% range. As a whole, all 10 of these experiments show that the experiment could be more accurate.

## Part 5. Using Polynomial Regression

In [9]:
# Using the PolynomialFeatures library perform another regression on an augmented dataset of degree 2
poly = poly(2)
x_train = poly.fit_transform(x_train)
x_test = poly.fit_transform(x_test)
model = LinearRegression()
model.fit(x_train,y_train)

# Report on the metrics and output the resultant equation as you did in Part 3.
print(f"Score: {model.score(x_train,y_train)}")
print(f"Predict: {model.predict(x_test)}")
print(f"Coefficients: {model.coef_}")
print(f"Intercept: {model.intercept_}")

Score: 1.0
Predict: [[9.92136600e+05]
 [9.65613829e+05]
 [1.15608846e+06]
 [1.34438400e+05]
 [5.01712600e+05]
 [1.15613257e+05]
 [2.32828590e+02]
 [1.23143271e+06]
 [5.07560114e+05]
 [5.37425257e+05]
 [1.47318743e+06]
 [2.31584257e+05]
 [5.47625257e+05]
 [4.87152257e+05]
 [7.42452257e+05]
 [9.81716600e+05]
 [1.51751143e+04]
 [6.36024000e+04]
 [5.39021457e+05]
 [1.07916029e+05]
 [5.34515457e+05]
 [4.40629714e+05]
 [3.78242857e+05]
 [2.54504257e+05]
 [3.68407143e+04]
 [2.40833829e+05]
 [4.12283314e+05]
 [1.29173829e+05]
 [1.17146846e+06]
 [2.41161257e+05]
 [1.12012572e+04]
 [5.56872257e+05]
 [1.90750029e+05]
 [5.02017029e+05]
 [2.24347114e+05]
 [1.02610903e+06]
 [5.47488114e+05]
 [8.68430829e+05]
 [2.84117829e+05]
 [9.14373114e+05]
 [6.80136829e+05]
 [1.16391429e+05]
 [2.67914286e+04]
 [1.77937829e+05]
 [9.57954571e+04]
 [1.22953257e+05]
 [3.81819429e+05]
 [7.23400314e+05]
 [5.09602859e+03]
 [1.28727260e+06]
 [7.38529714e+05]
 [2.39246314e+05]
 [5.58759857e+05]
 [1.21469714e+05]
 [1.07736803e+06]
 [9.20531314e+05]
 [1.37193257e+05]
 [5.54582859e+03]
 [4.52397600e+05]
 [4.78631429e+03]
 [3.95666857e+05]
 [8.07512429e+05]
 [1.48665911e+06]
 [5.29296257e+05]
 [1.40516460e+06]
 [1.30431429e+05]
 [7.04621829e+05]
 [1.28284457e+05]
 [8.69366857e+05]
 [2.70368000e+05]
 [4.15563429e+05]
 [4.99507457e+05]
 [6.16659457e+05]
 [2.63337829e+05]
 [1.19554571e+04]
 [6.09299314e+05]
 [6.25714857e+05]
 [4.41286600e+05]
 [3.44567429e+05]
 [1.93788286e+04]
 [6.34284314e+05]
 [3.42303143e+04]
 [6.25307314e+05]
 [4.17030029e+05]
 [6.32188314e+05]
 [9.44423143e+04]
 [2.51469829e+05]
 [1.46083211e+06]
 [1.13658643e+06]
 [6.16457029e+05]
 [9.85604457e+05]
 [2.36956114e+05]
 [4.32204572e+04]
 [1.08489300e+06]
 [1.07822443e+06]
 [3.38140000e+05]
 [4.55728829e+05]
 [1.65311430e+03]
 [1.14028114e+05]
 [2.91132000e+05]]
Coefficients: [[ 0.00000000e+00  1.20000000e+01 -1.34476712e-07 -1.10844667e-12
   2.00000000e+00  2.85714287e-02]]
Intercept: [1.98458438e-05]

y = 1 + 1.20000000e+01 - 1.43771160e-07 - (1.16262555e-11)^2 + 2.00000000e+00 + (2.85714287e-02)^2 + 2.05196557e-05